<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MPWR</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/portfolio.css" type="text/css">
    <!-- DC Social Icons CSS -->
      
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
 
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style5Demo.css" />


<!--               <link href="/assets/demo.css" rel="stylesheet" /> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#page-top">          <%= image_tag("shattered-mpwr.png", height: '100', width: '100') %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href="about" class="blue-text">About Us</a>
                    </li>
                    <li>
                        <%= link_to "What we do", "#whatwedo", class: " blue-text" %>
                    </li>
                    <li>
                        <%= link_to "How we MPWR", "#howwempwr", class: " blue-text" %>
                    </li>
                    <li>
                        <%= link_to "Schedule and Past events", "#schedule", class: " blue-text" %>
                    </li>
                    
                    <li>
                        <%= link_to "Checkout my blog", posts_path, class: "blue-text" %>
                    </li>
                    <li>
                        <%= link_to "Contact", "#contact", class: " blue-text" %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
    <div>
    <video autoplay loop poster="/assets/motivation.png" id="bgvid">
        <source src="/assets/motivation.mp4" type="video/mp4">
        <source src="/assets/motivation.ogg" type="video/ogg">
        <source src="/assets/motivation.webm" type="video/webm">
    </video>

             
            <section class="rw-wrapper">
                <h2 class="rw-sentence">
                    <span>What</span>
                    <span>person</span>
                    <span>did you</span>
                    <div class="rw-words">
                        <span>engage</span>
                        <span>challenge</span>
                        <span>encourage</span>
                        <span>hold accountable</span>
                        <span>inspire</span>
                        <span>MPWR</span>
                    </div>
                    <span>today?</span>
                </h2>
            </section>
                        <h2 class="rw-sentence-IE">What would you like to share today?</h2>
    </div>
    </header>

    <section class="bg-primary paddington" id="about">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading white-text">About Us </h1>

                    <hr class="light">
                    <p class="text-faded">Everybody needs assistance and we provide that. Whether its being a positive role model or helping setup and prepare for job interviews....</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
        </div>
    </section>

    <section id="whatwedo" class="paddington">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading blue-text">What we do</h1>
                    <hr class="primary">
            </div>
        </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-child wow bounceIn text-primary"></i>
                        <h3>Participating in community events</h3>
                        <p class="text-muted">Coming soon</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Throwing career and job fairs</h3>
                        <p class="text-muted">Coming soon.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Education</h3>
                        <p class="text-muted">Stressing the importance of education.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Speaking to the youth</h3>
                        <p class="text-muted">Speak to students middle and high school</p>
                    </div>
                </div>
            </div>
    </section>

<section class="gallery bg-white paddington" id="howwempwr">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading hwm-text">How we mpwr</h1>
                    <hr class="primary">
            </div>

    <div class="row">
        <ul>
            <a href="#" class="close"></a>
            <li>
                <a href="#item01">
                    <img src="/assets/engaging.jpg" alt="">
                </a>
            </li>

            <li>
                <a href="#item02">
                    <img src="/assets/stand.jpg" alt="">
                </a>
            </li>

            <li>
                <a href="#item03">
                    <img src="/assets/NOFEAR2.png" alt="">
                </a>
            </li>
            <li>
                <a class="image" href="#item04">
                    <img src="/assets/mpowerStudents2.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="image" href="#item05">
                    <img src="/assets/accountability_rock2.png" alt="">
                </a>
            </li>
            <li>
                <a class="image" href="#item06">
                    <img src="/assets/BOA.jpg" alt="">
                </a>
            </li>
            
        </ul>
    </div> <!-- / row -->

    <!-- Item 01 -->
    <div id="item01" class="port">
    
        <div class="rows">
            <div class="description">
                <h1>Item 01</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>

                <img src="/assets/engaging.jpg" alt="">
            </div>
        </div> <!-- / row -->

    </div> <!-- / Item 02 -->

    <!-- Item 02 -->
    <div id="item02" class="port">
    
        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="/assets/stand.jpg" alt="">
        </div> <!-- / row -->

    </div> <!-- / Item 02 -->
    <!-- Item 03 -->
    <div id="item03" class="port">
    
        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="/assets/NOFEAR2.png" alt="">
        </div> <!-- / row -->

    </div> <!-- / Item 02 -->
    <!-- Item 02 -->
    <div id="item04" class="port">
    
        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="/assets/mpowerStudents2.jpg" alt="">
        </div> <!-- / row -->

    </div> <!-- / Item 02 -->
    <!-- Item 02 -->
    <div id="item05" class="port">
    
        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="/assets/accountability_rock2.png" alt="">
        </div> <!-- / row -->

    </div> <!-- / Item 02 -->
    <!-- Item 02 -->
    <div id="item06" class="port">
    
        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="/assets/BOA.jpg" alt="">
        </div> <!-- / row -->

    </div> <!-- / Item 02 -->

</section> <!-- / projects -->


    <section class="bg-blue paddington" id="schedule">
        <div class=" text-center">
            <div class="call-to-action">
                <h1 class="section-heading white-text">Our schedule and what we have done</h1>
                  <a><%= link_to 'Check it out!', schedule_path, class: "btn btn-default btn-xl wow tada" %></a>
            </div>
        </div>
    </section>

    <section id="contact" class="paddington">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading blue-text">Let's Get In Touch!</h1>
                    <hr class="primary">
                    <p class="blue-text">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
                    Ready to get MPWR'D
                    We'd love to hear from you. You can either Give us a call or send us an email and one of our awesome team members will assist you.
                    </p>
                </div>


<div id="socialContainer">
  <div class="social_icons"><a class="btn_facebook"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a>
  <a class="btn_twitter" href="https://twitter.com/mpwr_inc"><i class="fa fa-twitter"></i><i class="fa fa-twitter"></i></a>
  <a class="btn_google-plus" href="https://plus.google.com/u/0/b/101517606644162077867/101517606644162077867/about"><i class="fa fa-google-plus"></i><i class="fa fa-google-plus"></i></a>
  <a class="btn_linkedin"><i class="fa fa-linkedin"></i><i class="fa fa-linkedin"></i></a><a class="btn_instagram"><i class="fa fa-instagram"></i><i class="fa fa-instagram"></i></a>
  <a class="btn_tumblr" href="https://www.youtube.com/channel/UCc95W8-1oGWgj3n3NkC5u9Q"><i class="fa fa-youtube"></i><i class="fa fa-youtube"></i></a>
  </div>
</div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>301-643-8234</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:mpwr.us@gmail.com">feedback@mpwr.io</a></p>

                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/portfolio.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/headerScroll.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
   
</body>

</html>
